@model IEnumerable<EsibayeniSolution.Models.LivesStock>

@{
    ViewBag.Title = "Livestock";
}

<h2>Index</h2>
@if (Request.IsAuthenticated && User.IsInRole("") && User.IsInRole("Customer"))
{
    <p>
        @Html.ActionLink("Add Livestock", "Create")
    </p>

}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Batch.BatchCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category.CategoryType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sex)
        </th>
         <th>
            @Html.DisplayNameFor(model => model.CostPrice)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Batch.BatchCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.CategoryType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Weight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Age)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sex)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CostPrice)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.LivestockID }) |
        </td>
@if (Request.IsAuthenticated && !User.IsInRole("") && !User.IsInRole("Customer"))
{
    <td>

        @Html.ActionLink("Update", "Edit", new { id = item.LivestockID }) |
       
        @Html.ActionLink("Delete", "Delete", new { id = item.LivestockID })
    </td>
}
       
    </tr>
}

</table>
