@model EsibayeniSolution.Models.LivestockMaintainanceStock

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LivestockMaintainanceStock</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.CategoryType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.CategoryType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaintainaceStock.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaintainaceStock.ProductName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LivestockMaintainanceStockID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
