@model EsibayeniSolution.Models.LivestockImage

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LivestockImage</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LivestockID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LivestockID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UploadtDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UploadtDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ImageId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
